<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<h1>Welcome to My Calculator</h1>
<form action='/CalcDriver' method='get'>
    <label>Enter First Number</label>
    <input type="number" name="num1"><br>
    <label>Enter Second Number</label>
    <input type="number" name="num2"><br>
    Calculate Sum<input type="checkbox" name="sum"><br>
    Calculate Subtraction<input type="checkbox" name="sub"><br>
    Calculate Multiplication<input type="checkbox" name="mul"><br>
    Calculate Division<input type="checkbox" name="Div"><br>
    Calculate Modulo<input type="checkbox" name="mod"><br>
    <button type="submit" >Compute</button>
</form>
</body>
</html>